body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    background-color: #f2f2f2;
    color: #333;
}

header {
    text-align: center;
    background-color: aliceblue;
    padding: 1em;
}

h1 {
    font-size: 2em;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
}

h2 {
    color: #333;
}