* {
    box-sizing: border-box;
}

.main-page {
    background-image: url('/img/background.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.home{
    flex-grow: 1;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1rem;
    background-color: #0d0200;
    text-align: right;
    z-index: 1;
    min-width: 435px;
}

.nav-bar ul li {
    display: inline;
    padding: 1rem;
    font-size: 1.2rem;
}

.nav-bar ul li:last-child {
    padding-right: 3rem;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
}

.nav-bar ul li a:hover {
    color: white;
    border-bottom: white solid 0.8rem;
    transition: 0.25s ease-out;
}

header {
    padding-top: 6rem;
}

header h1, h2 {
    text-align: center;
    color: white;
    font-family: "Kaushan Script", fantasy, sans-serif;
}

header h1 {
    font-size: 4rem;
    text-shadow: 2px 2px white;
    margin-bottom: 0;
}

header h2 {
    font-size: 2rem;
    text-shadow: 2px 2px white;
    margin-top: 0;
    color: white;
}

footer {
    background-color: black;
    color: white;
    height: 15vh;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    margin-bottom: 0;
}

footer p:first-child {
    padding-top: 2rem;
}

figcaption {
    text-align: center;
}

.main-page header h2:nth-child(2) {
    margin-bottom: 5rem;
}

.profile-page {
    background-color: white;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.profile {
    flex-grow: 1;
}

.profile .card {
    min-height: 70vh;
}

.profile a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: black;
    padding-top: 1rem;
}

.profile-page footer {
    margin-top: 2rem;
}

.event-details {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#mark-interested-btn, #mark-going-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 16px;
    cursor: pointer;
}

#users-list {
    list-style: none;
    padding: 0;
}

#users-list li {
    margin-bottom: 5px;
}

#search-input {
    margin-top: 10px;
    padding: 5px;
}
