* {
  box-sizing: border-box;
}
/* Rules for main page */
.main-page {
  background-color: #333333;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.home{
  flex-grow: 1;
}
/* Nav bar rules */
.hamburger {
  color: white;
  font-size: 2rem;
  padding-left: 10px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.show-icons {
  padding-top: 10px;
}

.show-icons li {
  display: inline;
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.show-icons i {
  text-decoration: none;
  color: white;
}

.hide-icons {
  display: none;
}

.nav-bar.show-menu.visible {
  justify-content: center;
}

.show-menu.visible li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.show-menu.visible ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hide {
  display: none;
}
/*  */
header {
  padding-top: 6rem;
}

.home {
  padding-top: 8rem;
}

header h1, h2 {
  text-align: center;
  color: white;
  font-family: "Kaushan Script", fantasy, sans-serif;
}

header h1 {
  font-size: 4rem;
  text-shadow: 2px 2px white;
  margin-bottom: 0;
}

header h2 {
  font-size: 2rem;
  text-shadow: 2px 2px white;
  margin-top: 0;
  color: white;
}
/* Footer rules */
footer {
  background-color: black;
  color: white;
  height: 15vh;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
}

footer p {
  margin-bottom: 0;
}

footer p:first-child {
  padding-top: 2rem;
}

.main-page header h2:nth-child(2) {
  margin-bottom: 5rem;
}
/* Profile page rules */
.profile-page {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.profile {
  flex-grow: 1;
}

.profile .card {
  min-height: 70vh;
}

.profile a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: black;
  padding-top: 1rem;
}

.profile-page {
  margin-top: 2rem;
}
/* Event detail rules */
.event-details {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.mark-interested-btn, .mark-going-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.users-list {
  list-style: none;
  padding: 0;
}

.users-list li {
  margin-bottom: 5px;
}

.search-input {
  margin-top: 10px;
  padding: 5px;
}
/* Group card rules */
.groups-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.group-card {
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.group-members {
  margin-top: 10px;
}

.join-button {
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.find-groups {
  text-align: center;
  font-family: sans-serif;
}

.event-name {
  font-family: sans-serif;
}
/* Detail page rules */
.details {
  flex-grow: 1;
}

.details-page {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
/* Contact page rules */
.contact-page {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0; 
}

main.contact-page {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:2rem;
}

.contact-page {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;
}

.contact-page textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.contact-page button {
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
}
/* Create events page */
.create-events-page {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0; 
}

.event-creation-page {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.event-form-group {
  padding: 20px;
}

.event-form-group label {
  display: block;
  margin-bottom: 5px;
}

.event-form-group input {
  width: 100%;
  box-sizing: border-box;
}

.event-creation-page button {
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.event-creation-page textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
/* Filter events rules */
.filter {
  border: 3px solid white;
  border-radius: 5px;
  min-width: 125px;
}
/* Mobile screen rules */
@media screen and (min-width: 600px) {
  .event-form-group input,
  .event-form-group textarea {
      width: 100%;
  }
}

@media screen and (min-wdith: 500px) {
  .nav-bar ul {
      display: flex;
      flex-direction: column;
      padding-left: 0;
  }

  .nav-bar ul li {
      text-align: center;
  }

  .nav-bar a {
      margin: 5px 0;
  }

  .nav-bar ul li:last-child {
      padding: 1rem;
  }

  main {
      padding-top: 15rem;
  }

  .main-page header {
      padding-top: 25rem
  }

  .home {
      padding-top: 5rem;
  }
  
  .groups {
      padding-top: 18rem;
  }
}

@media screen and (min-width: 785px) {
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1rem;
    background-color: #0d0200;
    text-align: right;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }

  .nav-bar ul li {
    display: inline;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .nav-bar ul li:last-child {
    padding-right: 3rem;
  }

  .nav-bar ul li a {
    text-decoration: none;
    color: white;
  }

  .nav-bar ul li a i {
    margin-right: 7px;
  }

  .nav-bar ul li a:hover {
    color: white;
    border-bottom: white solid 0.8rem;
    transition: 0.25s ease-out;
  }

  .title {
    margin-left: 20px; 
    font-size: 1.5rem; 
    color: white; 
  }
}